html,
body,
header,
.view {
 /* height: 100%;*/
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: #424f95 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}

.btn-in{
  color: #fff !important;
  background-color: #49547d;
  border-color: #49547d;
}

.txt-box{
  width: 500px;
}

.txt-title{
  color: #49547d;
}
.dropbtn{
 width: 300px;
 text-align: left;
 background-color: white;
 border-color: #E9ECEF;
 color: #333;
}

.dropbtn:hover{
      color: #333;
    background-color: #d1e0ea;
    border-color: #c4cdd6;
}

.dropdownmen{    
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: white;
    border: 0;
}

.dropdownmen:hover{
    background-color: #E9ECEF;
}

.txt-emp{
  left: 140px;
  top: 60PX;
}

.btn-break{
    color: #fff;
    background-color: #6F4431;
    border-color: #6F4431;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 8px 8px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.date-box{
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}